.idea
.vscode/
*.txt
!ToDo.txt
/Exclude

#DP
cashRegister.java
candies.cpp

#Graphs
maxRegion.*

#Maths
numPairsSumPowTwo.py
permute.cpp

#Strings
# Strings/minRemoveValidParentheses.cpp
# Strings/wildcardMatch.cpp