.idea
.vscode/
*.txt
!ToDo.txt
/Exclude

#Design
Design/HashMap.cpp

#Maths
numPairsSumPowTwo.py
permute.cpp
eliminationGame.cpp

#Strings
Strings/minRemoveValidParentheses.cpp
Strings/wildcardMatch.cpp
Strings/fullJustify.cpp