.idea
.vscode/
*.txt
!ToDo.txt
/Exclude

#Design
Design/HashMap.cpp
Design/lruCache.cpp

#DP
cashRegister.java
candies.cpp

#Graphs
maxRegion.*

#Maths
numPairsSumPowTwo.py
permute.cpp

#Strings
Strings/minRemoveValidParentheses.cpp
Strings/wildcardMatch.cpp